

.gradient { /* Our base */
    width:200px;
    height:200px;
    margin:0 auto;
    margin-top:50px;
}
.hexagon {
     position: relative;
     overflow: hidden;
     background:transparent;
     /* add slash at the end of line to see the rhombus *
     outline: solid 1px red;/**/
     width: 10em; height: 10em;
     transform: rotate(-30deg) skewX(30deg) scaleY(.866);
 }
.hexagon:before {
    position: absolute;
    right: 6.7%; bottom: 0; left: 6.7%; top: 0;
    transform: scaleY(1.155) skewX(-30deg) rotate(30deg);
    background: white;
    content: '';
}