
.styled-h1 {
    position: relative;
    padding-left: 20px; 
  }
  
  .styled-h1::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 5px; 
    height: 100%;
    background-color: #F2E2BC; 
  }